**/*.ts
**/tsconfig.json
**/tslint.json
.DS_Store
.eslintignore
.vscode
view/**/*
*.vsix
.gitignore
__MACOSX

# data
bin/vite/ledger

# solppc
bin/solppc/solppc
solppc_*.zip

# gvite
bin/vite/gvite-*.zip
gvite-v*/
gvite
