**/*.ts
**/tsconfig.json
**/tslint.json
.DS_Store
.eslintignore
.vscode
view/**/*
*.vsix
.gitignore
bin/vite/__MACOSX

bin/vite/ledger

!bin/solppc/.keep
bin/solppc/*
solppc_*.zip

bin/vite/gvite-*.zip
bin/vite/gvite-v*/
bin/vite/gvite
bin/vite/gvite.exe
